<div class="dialog">
    <div class="content well">
      <h2> Game Hall <button class="btn btn-primary btn-large pull-right start-game">开始新游戏</button> </h2>
      <div>
      	<ul class="unstyled">
      		<li>
      			Room 1
      		</li>
      	</ul>
      </div>
    </div>
    <div class="border"></div>
</div>