<pre id='chat'></pre>
<form class='input-text'>
  <div class="row"> 
    <div class="span9"> 
       <textarea id='msg' class="span9" placeholder='type message here...' />
    </div>
    <div class="span1">
      <button class="btn btn-primary">发送</button>
      <span>Ctrl+Enter</span>
    </div>
  </div>
</form>    

