<div class = 'dialog'>
	<input id = "room_name"type="text" name="orel" value="" placeholder="room name here">
	<div class = 'btn create_room'>
		sure
	</div>
	<div class = 'btn btn-warning cancel_room'>
		cancel
	</div>
</div>