<div class="row">
  <div class="span10 slider-viewport">
    <div class="dialog">
    <div class="content">
      <pre id='chat'></pre>
      <form class='input-text'>
        <div class="row"> 
          <div class="span9"> 
             <textarea id='msg' class="span9" placeholder='type message here...' />
          </div>
          <div class="span1">
            <button class="btn btn-primary">发送</button>
            <span>Ctrl+Enter</span>
          </div>
        </div>
      </form>    

    </div>
          <div class="border"></div>
           </div>
  </div>

  <div class="span2 pull-right">
    <div class='right_side'>
      <h3> 在线用户 </h3>
      <ul class='online_users unstyled'>
        <a href="#" onClick="openwin()">@.classonline_users.id</a>
      </ul>
    </div>
  </div>
  
</div>

