<div class="row">
  <div class="span10 slider-viewport">
    <div class="dialog">
    <div class="content">
      <pre id='chat'></pre>
      <form class='input-text'>
        <div class="row"> 
          <div class="span9"> 
             <textarea id='msg' class="span9" placeholder='type message here...' />
          </div>
          <div class="span1">
            <button class="btn btn-primary">发送</button>
            <span>Ctrl+Enter</span>
          </div>
        </div>
      </form>    

    </div>
          <div class="border"></div>
           </div>
  </div>

  <div class="span2 pull-right">
    <div class='right_side'>
      <h3> 在线用户 </h3>
      <ul class='online_users unstyled'>
      </ul>
    </div>
  </div>
  
</div>

<script>
  // reading
  var es = new EventSource('/stream');
  es.onmessage = function(e) { 
    $('#chat').append(e.data + "\n")
    max = $('#chat')[0].scrollHeight - $('#chat').height();
    $('#chat').scrollTop(max);
  };

  var postMessage = function(){
    $.post('/stream', {msg: $('#msg').val()});
    $('#msg').val(''); $('#msg').focus();
  };
  var isCtrl = false;
  // writing
  $("form").live("submit", function(e) {
    postMessage();
    e.preventDefault();
  });

  $("#msg").live("keydown", function(event){
    if (event.keyCode === 10 || event.keyCode == 13 && event.ctrlKey)
      $("form").submit();
  })


</script>

